body {
    font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    font-size: 16px;
    margin: 0;
}

.top {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(src/cover.jpeg);
    background-size: cover;
    background-position: center;
    position: relative;

}

.top::after {
    content: '';
    background-color: rgba(0,0,0,.3);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
  }
  
.top-title {
    display: block;
    font-size: 16vw;
    letter-spacing: 0.1em;
    color: white;
    padding: 8px 32px;
    border-radius: 8px;
    text-align: center;
    margin: 80px 2px;
    position: relative;
    z-index: 1;
}

.top-text {
    font-size: 3.7vw;
    font-weight: bold;
    letter-spacing: 4px;
    line-height: 3em;
    background-color: black;
    padding: 40px 24px;
    color: white;

}

footer{
    font-weight: bold;
    margin-top: -12px;
    margin-bottom: 0;
    background-color: black;
}

h2{
    font-family: 'BIZ UDPMincho', serif;
    font-size: 8vw;
    margin-top: 80px;
    text-align: center;
    font-weight: 700;
}

.container {
 display: flex;
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;
 margin: 8px 80px;
 gap: 16px 16px;
}

.container img{
    border: whitesmoke solid 3px;

}

.member .container img {
    border-radius: 100px;
}

.name {
    text-align: center;
}

.center {
    text-align: center;
    font-weight: 700;

}