body {
    font-size: 16px;
    margin: 0;
}

.top {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(src/cover.jpeg);
    background-size: cover;
    background-position: center;
}
.top-title {
    display: block;
    font-size: 10vw;
    letter-spacing: 0.1em;
    color: white;
    padding: 8px 32px;
    border-radius: 8px;
    text-align: center;
    margin: 80px 20%;
}

.top-text {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 4px;
    line-height: 96px;
    text-align: center;
    background-color: black;
    padding: 40px 0;
    color: white;

}

footer{
    font-weight: bold;
    margin-top: -12px;
    margin-bottom: 0;
    background-color: black;
}